################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/hada-p2
/hada-p2/bin
/hada-p2/obj
/.vs
/hada-p2/.vs
/hada-p2/obj/Release/hada-p2.csproj.AssemblyReference.cache
/.vs/slnx.sqlite
